<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ulpgc.miguel.fortguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppMediator"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".test_espresso.IntroductionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".advice.AdviceActivity"></activity>
        <activity android:name=".challenges_weeks.ChallengesWeeksListActivity"></activity>
        <activity android:name=".place.PlaceActivity"></activity>
        <activity android:name=".place_detail.PlaceDetailActivity"></activity>
        <activity android:name=".theory_detail.TheoryDetailActivity"></activity>
        <activity android:name=".theory.TheoryActivity"></activity>
        <activity android:name=".weapon.WeaponActivity"></activity>
        <activity android:name=".shop.ShopActivity"></activity>
        <activity android:name=".newTheory.NewTheoryActivity"></activity>
        <activity android:name=".support.SupportActivity"></activity>
        <activity android:name=".support_profile.SupportProfileActivity"></activity>
        <activity android:name=".advice_detail.AdviceDetailActivity"></activity>
        <activity android:name=".challenges_detail.ChallengesDetailListActivity"></activity>
    </application>

</manifest>